<div class="broadcast-container">
  <!-- Digi 1 -->
  <div class="broadcast-item">
    <a *ngIf="digi1Url" [href]="digi1Url" class="digi-link">
      <div class="img-container">
        <img class="img-digi" src="assets/digisp1.png" alt="Live Broadcast Digi 1">
        <span class="live-indicator">LIVE</span>
      </div>
      <p class="source-message-digi">Sursa 1: DIGI SPORT 1</p>
    </a>
  </div>

  <!-- Digi 2 -->
  <div class="broadcast-item">
    <a *ngIf="digi2Url" [href]="digi2Url" class="digi-link">
      <div class="img-container">
        <img class="img-digi" src="assets/digisp22.png" alt="Live Broadcast Digi 1">
        <span class="live-indicator">LIVE</span>
      </div>
      <p class="source-message-digi">Sursa 2: DIGI SPORT 2</p>
    </a>
  </div>

  <!-- Digi 3 -->
  <div class="broadcast-item">
    <a *ngIf="digi3Url" [href]="digi3Url" class="digi-link">
      <div class="img-container">
        <img class="img-digi" src="assets/digisp3.png" alt="Live Broadcast Digi 1">
        <span class="live-indicator">LIVE</span>
      </div>
      <p class="source-message-digi">Sursa 3: DIGI SPORT 3</p>
    </a>
  </div>

  <!-- Digi 4 -->
  <div class="broadcast-item">
    <a *ngIf="digi4Url" [href]="digi4Url" class="digi-link">
      <div class="img-container">
        <img class="img-digi" src="assets/digisp4.png" alt="Live Broadcast Digi 1">
        <span class="live-indicator">LIVE</span>
      </div>
      <p class="source-message-digi">Sursa 4: DIGI SPORT 4</p>
    </a>
  </div>
</div>
