<div class="change-password-container">
  <h2>BETUIASI</h2>
  <form (ngSubmit)="onChangePassword()">
    <div class="form-group">
      <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="username"  required>
    </div>

    <div class="form-group">
      <input type="oldPassword" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" placeholder="password"  required>
    </div>

    <div class="form-group">
      <input type="newPassword" id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="newpassword"  required>
    </div>

    <button class="button" type="submit">Change Password</button>
  </form>

  <div class="links">
    <a (click)="showRegister.emit()">Register</a>
    <span class="separator">|</span>
    <a (click)="showLogin.emit()">Login</a>
  </div>
</div>
