<div class="box-section">
  <h2 class="box-title">Alege un pachet pentru a adăuga fonduri</h2>
</div>

<div class="loot-box-container">
  <div class="loot-box" (click)="openLootBox(10)">
    <img src="assets/loot-box1.png" alt="10 coins" />
    <p>Pachet de 10 monede</p>
  </div>
  <div class="loot-box" (click)="openLootBox(50)">
    <img src="assets/loot-box2.png" alt="50 coins" />
    <p>Pachet de 50 monede</p>
  </div>
  <div class="loot-box" (click)="openLootBox(100)">
    <img src="assets/loot-box3.png" alt="100 coins" />
    <p>Pachet de 100 monede</p>
  </div>
</div>
